#GroupHome_G04{
    background-image: url('../components/image/G04_GroupHome.png');
}
#GroupHomeImage_G04{
    background-image: url('../components/image/G04_GroupHomeImage.png');
    background-size: 120% 120%;
}