#GroupHome_G11{
    background-image: url('../components/image/G11_GroupHome.png');
    background-position: center;
}
#GroupHomeImage_G11{
    background-image: url('../components/image/G11_GroupHomeImage.png');
    background-position: center;
    background-size: 100% 100%;
}