#GroupHome_G06{
    background-image: url('../components/image/G06_GroupHome.png');
    background-position: center;
}
#GroupHomeImage_G06{
    background-image: url('../components/image/G06_GroupHome.png');
    background-position: center;
}