#GroupHome_G08{
    background-image: url('../components/image/G08.jpeg');
    background-position: center;
}
#GroupHomeImage_G08{
    background-image: url('../components/image/G08.jpeg');
    background-position: center;
}