#GroupHome_G05{
    background-image: url('../components/image/G05_GroupHome.png');
    background-position: center;
}
#GroupHomeImage_G05{
    background-image: url('../components/image/G05_GroupHomeImage.png');
    background-position: center;
}